<section class="container">
    <form (ngSubmit)="onCreateTodo(f)" novalidate #f="ngForm">
        <div class="form-group">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" type="text" ngModel required>
        </div>
        <p class="inline-input-error" *ngIf="f.controls.title && f.controls.title.touched && f.controls.title.errors && f.controls.title.errors.required">*Title is required.</p>
        <div class="form-group">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" rows="5" id="description" name="description" ngModel required></textarea>
        </div>
        <p class="inline-input-error" *ngIf="f.controls.description && f.controls.description.touched && f.controls.description.errors && f.controls.description.errors.required">*Description is required.</p>
        <button type="submit" class="btn btn-primary" [disabled]="!f.touched || !f.valid">Create Todo</button>
    </form>
    <hr/>

    <!-- <article>
        <ul>
            <li>
                Test
            </li>
        </ul>
    </article> -->
</section>